

.al{
  margin-left: 8vw;
  margin-top: 1vh;

  margin-bottom: 2vh;

}

ion-button{

  --border-radius:10px;

  --box-shadow: 0px;

  width: 20vw;

  height: 10vh;



}

ion-card{
  margin-top: 4vh;
  height: 10vh;

}

ion-content{
  font-weight:bold ;
  --background: #61605d;
}

.resultado{

  font-size: 2rem;
  text-align: end;
  padding-right: 3vw;

}


