<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-label>Valor 1 :</ion-label>
    <ion-input type="number" value=""></ion-input>
  </ion-card>

  <ion-card>
    <ion-label>Valor 2 :</ion-label>
    <ion-input type="number" value=""></ion-input>
  </ion-card>

  <ion-grid class="tlc">
    <ion-row class="frm">
      <ion-col size="3">
        <ion-button>+</ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button>-</ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button>*</ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button>/</ion-button>
      </ion-col>

    </ion-row>

    <ion-row class="frm">
      <ion-col size="3">
        <ion-button>+</ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button>-</ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button>*</ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button>/</ion-button>
      </ion-col>

    </ion-row>

  </ion-grid>

  <div class="ReOp">
  <ion-card>
    <ion-label>Resultado :</ion-label>
    <ion-input type="number" value=""></ion-input>
  </ion-card>

  <ion-card>
    <ion-label>Operação:</ion-label>
    <ion-input type="number" value=""></ion-input>
  </ion-card>
</div>

</ion-content>
