

.al{
  margin-left: 8vw;
  margin-top: 4vh;

}

ion-button{

  --border-radius:10px;

  --box-shadow: 0px;

  width: 20vw;

  height: 10vh;



}

ion-card{
  margin-top: 4vh;
  height: 10vh;

}

ion-content{
  font-weight:bold ;
  --background: #61605d;
}



