.frm{
  margin-top: 5vh;
  margin-left: 2vw;
  margin-right: 2vw;


}
.frmII{
  margin-top: 5vh;
  margin-left: 18vw;


}

ion-button{
  --border-radius:10px;

  --box-shadow: 0px;

  width: 20vw;

  height: 8vh;
}

.ReOp{

  margin-top: 5vh;
}

ion-content{
  font-weight:bold ;
}


