.frm{
  margin-top: 5vh;
  margin-left: 2vw;
  margin-right: 2vw;


}
.frmII{
  margin-top: 5vh;
  margin-left: 18vw;


}

ion-card{

  color: #c7c7c7;

  --background: #3d3d3b;
}

ion-button{
  --border-radius:10px;

  --box-shadow: 0px;

  width: 20vw;

  height: 8vh;

  --background: #3d3d3b;
}

.ReOp{

  margin-top: 5vh;
}

ion-content{
  font-weight:bold ;
  --background: #61605d;
}


